# ============================================
# PYTHON
# ============================================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# ============================================
# JUPYTER NOTEBOOK
# ============================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# ============================================
# MAC / OS / EDITOR FILES
# ============================================
.DS_Store
Thumbs.db

# VSCode
.vscode/

# ============================================
# CONFIG PRIVATE
# ============================================
*.env
*.ini
*.secret
*.key
*.token
